<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.aau.cs.giraf.zebra"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sequence_icon"
        android:label="@string/app_name"
        android:logo="@drawable/sequence_icon"
        android:theme="@style/GirafTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>

                <!-- Application must have Launcher intent - Otherwise Launcher App can not recognize the application -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CopySequencesActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".AddEditSequencesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
